ul p {
    margin-bottom:5vh;
}

button{
    background: none;
    border : none;
    color: white;
}

.thalf h1 {
    position:absolute;
    top:5vh;
    left: 5vw;
}

.selected{
    text-decoration:underline;
}

#wrapper {
    height: 100vh;
    width: 100vw;
}

.tileBttns {
    position:absolute;
    top:35vh;
    left:9vw;
}

.boardBttns {
    display: flex;
    justify-content: space-around;
    position:absolute;
    top:8vh;
    right:5vw;
    width: 60vw;
}


.Note {
    text-align: center;
    width: 15vw;
    height:15vw;
    background: var(--Blue---Light, linear-gradient(221deg, #1800A8 -0.86%, #030168 50.1%, #080044 101.33%));
    margin: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

.lrg {
    width: 32vw;
}

#h-bar{
    position: absolute;
    top:15vh;
    right: 5vw;
    width: 60vw;
    height:.5vw;
    background-color:white;
    -radius: 30vw;
    opacity: 50%;
}

#v-bar{
    position: absolute;
    top: 27vh;
    left: 25vw;
    width: .5vw;
    height:57vh;
    -radius: 20vw;
    background-color:white;
    opacity: 50%;
}


#hub {
    position: absolute;
    top: 20vh;
    left: 30vw;
    width: 68vw;
    height: 70vh;
    display: flex;
   flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
}


